html {
    font-family: Helvetica;
    font-size: 18px;
}


.logo {
    background-color: black;
    color: white;
    height: 2.2rem;
}

.logo img {
    height: 1.5rem;
}

.highlight {
    background-image: url('../moto.jpeg');
    color: white;
}

nav {
    background-color: red;
    color: white;
}

.title {
    background-color: black;
    color: white;
}

div {
    border: solid 1px green;
}